body{
  font-family: 'Raleway', sans-serif;
  background-image: url("https://source.unsplash.com/VRLLIlgAypQ/1600x900");
  background-repeat: no-repeat;
}

button{
  font-weight:500;
  background-color: #eee;
  box-shadow: 1px 1px 2px 1px rgba(80, 80, 80, 0.2);
}

.main{
  margin-top: 25vh;
  padding: 10px 0;
  opacity: 0.9;
}

#title{
  margin-bottom: 20px;
}

#field{
  margin-top:30px;
  background-color:#eaeaea;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 1px rgba(80, 80, 80, 0.2);
}

#buttons{
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  #title {
    margin-bottom: 80px;
  }

  #field{
    margin-top:50px;
  }
}
